.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #131921, #232f3e);
}

.auth-card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background-color: #febd69;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background-color: #f3a847;
}

.toggle-text {
  margin-top: 15px;
  color: #007185;
  cursor: pointer;
  font-size: 14px;
}